.btn__content{
    
    margin-top: 10px;
    width: 50%;
    height: 150%;
     
    .btn__img{

        img{

            width: 49%;
            height: 80%;
            position: absolute;
            border-radius: 5px;
            margin-right: 5px;
        }
    }
    .btn{
        padding: 30%;
        .btn__link{
            #link{
                text-decoration: none;
                font-size: 24px;
                color: white;
                
            }
            #link:hover{
                text-decoration:underline;
            }
        position: relative;
        border:1px solid black;
        padding: 10px;
        border-radius: 5px;
        }
    }
}