.btn__detail{
    margin-left: 30rem;
    text-decoration: none;
    padding: 10px;
    color: white;
    border: 1px solid #222;
    background-color: #222;
    border-radius: 10px;
    }
.btn__detail:hover{
    
}