.container__event{
    width: 70%;
    height: 60vh;
    background-color: white;
    position: relative;
    left: 15%;   
    margin-bottom: 8rem;
    border-radius: 10px;
    text-align: center;
    color: black;
    background-color: #222;
    color:white;

    .event__title{
        font-size: 25px;
        font-family: 'Lato', sans-serif;
    }

    .event__details{
        display: flex;
        text-align: justify;
        justify-content: space-around;
        margin-left: 5rem;
        
    }

    .event__place{
        padding: 10px;
        width: 50%;
   
    }

    .event__references{
        
        width: 50%;
        padding: 10px;
        text-align: justify;
        
    }

    .event__date{
        margin-top: -50px;
        h2{
            margin-left:-100px;
        }

        h3{
            margin-left:-100px;
        }

        position: relative;
        top: 5%;
        left: 5%;
        
        .ul__date{
            
            display: flex;
            justify-content: center;
            
            li{
                
                list-style: none;
                margin-right: 25%;
                font-family: 'Lato', sans-serif;
                font-size: 20px;
                .day__vote{
                    background-color: rgb(17, 115, 196);
                    margin: 0;
                    padding-top: 5px;
                    padding-bottom: 10px;
                    height: 30px;
                    width: auto;
                    border: none;
                    cursor: pointer;
                    color: white;
                    font-size:1rem;
                    border-radius: 5px;
                    
                }
                .day__vote:active{
                    background-color: rgb(4, 65, 114);
                }
            }

        }
    }

    .event__h2{
        font-family: sans-serif;
        margin: 0;
        padding: 0;
    }

}
