.btn__detail{
    margin-left: 25rem;
    text-decoration: none;
    padding: 10px;
    color: white;
    
    background-color: rgb(189, 33, 163);
    border-radius: 10px;
    }
.btn__detail:hover{
    color: #222;
    background-color: #ff0;
}