.user__content{
    padding: 10%;
    border: 1px solid #222;
    
    border-radius: 10px;
    .user__form{
        margin-top: -80px;
        height: 300px;
        display: flex;
        justify-content: center;
        text-align: center;
        label{
            margin-right: 50%;
            color: white;
        }
        input{
            text-align: center;
            margin-right: 150px;
        }
        label, input{
            margin-top: 10px;
        }
        background-color: #222;
        border-radius: 5px;
        #btn__user{
            width: 80%;
            cursor: pointer;
            border: none;
            font-size: 24px;
            border-radius: 10px;
        }
        #btn__user:hover{
            background-color: #CFA92C;
            color: white;
        }
    }
}